.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: 0.5s
}

.accordion.open,
.accordion:hover {
    background-color: #55569e;
    border-color: #55569e;
}

.accordion .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}

.accordion .trigger h2 {
    margin: 0;
    font-size: 1.4rem;
    text-align: start;
}

.accordion .trigger:hover {
    cursor: pointer;
}

.accordion .trigger::after {
    content:"";
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../icons/arrow.svg');
    transition: 0.25s;
}

.accordion.open .trigger::after {
    transform: rotate(180deg);
}

.accordion .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.accordion.open .content {
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
}

/*media query*/
@media only screen and (max-width: 320px) {
    .accordion .trigger h2{
        font-size: 1.25rem;
    }

    .accordion .trigger::after {
        width: 1.25rem;
        height: 1.25rem;
    }
}