.experience {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.experience .listProfessionalExperience {
    margin-bottom: 2rem;
}

.experience .listProfessionalExperience .period {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 1.5rem 0;
}

.experience .listProfessionalExperience .period::before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.7rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../icons/calendar.svg');
}

.experience .listProfessionalExperience .description {
    margin: 0.7rem 0;
}