* {
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/neue-machina-regular.otf') format('otf');
}

body {
    color: #fff;
    background-color: #000;
}

main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}