*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Open Sans, sans-serif;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('../fonts/neue-machina-regular.otf') format('otf');
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    width: 75%;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 1rem;
}

main {
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

main::before,
 main::after {
    content: '';
    background-image: url('../img/background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
}

main::after {
    content: '';
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.loader {
    display: inline-block;
    outline: 0.5rem solid transparent;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.loader .span-loader {
    background: #fff;
    border-radius: 100%;
    vertical-align: middle;
    display: inline-block;
    width: .5rem;
    height: .5rem;
    margin: 1px 1px;
    -webkit-animation:loader 0.8s linear infinite alternate;
    animation:loader 0.8s linear infinite alternate;
}

.loader .span-loader:nth-child(1) {
    -webkit-animation-delay:-0.8;
    animation-delay:-0.8s;
   }

.loader .span-loader:nth-child(2) {
    -webkit-animation-delay:-0.53333s;
    animation-delay:-0.53333s;
}

.loader .span-loader:nth-child(3) {
    -webkit-animation-delay:-0.26666s;
    animation-delay:-0.26666s;
}

@keyframes loader{
    from {transform: scale(0, 0);}
    to {transform: scale(1, 1);}
}

@-webkit-keyframes loader{
    from {-webkit-transform: scale(0, 0);}
    to {-webkit-transform: scale(1, 1);}
}

//media query
@media only screen and (min-width: 768px) {
    main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    main::before, 
    main::after {
        width: 70vw;
    }
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        border: 2px solid #fff;
    }
}