.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.languages li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2.5rem 0 0;
    margin: 1rem 0;
    font-weight: 700;
    font-size: 1.25rem;
}

.languages li::before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.7rem;
    background-repeat: no-repeat;
    background-size: contain;
}


.languages .por::before {
    background-image: url('../icons/por.svg');
}

.languages .ing::before {
    background-image: url('../icons/ing.svg');
}

.languages .esp::before {
    background-image: url('../icons/esp.svg');
}

/*media query*/
@media only screen and (max-width: 426px) {
    .languages {
        flex-direction: column;
        align-items: flex-start;
    }
    .languages li {
        padding: 0;
    }

    .languages li::before {
        width: 1.2rem;
        height: 1.2rem;
    }
}

@media only screen and (max-width: 320px) {
    .languages li {
        font-size: 1.1rem;
    }
}